$heightHeader: 70px;
$heightInfo: 40px;
$heightFooter: 200px;
$heightCopyright: 52px;
$colorPrimary: #ff7200;
$bg-image: url(../../assets/images/greenking_travel.jpg);

.content {
  // height: calc(
  //   100vh - $heightHeader - $heightInfo - $heightFooter - $heightCopyright
  // );
  box-shadow: 0 0.5px 0 0.5px #E9E9E9;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
