$width: 60%;

.home {
  width: 100%;
  background-color: white;
  &.card {
    padding: 0 90px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    & > .tour__text {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      padding-bottom: 1.5rem;
      text-align: center;

      & > .tour__text-title {
        color: #373737;
        font-size: 24px;
      }

      & > .tour__text-all {
        color: #95681c;
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        user-select: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    & > .card__tour {
      overflow-x: scroll;
      overflow-y: hidden;
      flex-wrap: nowrap;
      column-gap: 35px;
    }
  }

  &.introduce {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;

    & > .ant-col > .ant-typography {
      padding-top: 16px;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.searchView {
  width: $width;
  height: 240px;
  top: 270px;
  position: absolute;
  border: 1px solid #cecece;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background-color: rgba(199, 148, 74, 0.8);
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.ant-tabs-tab {
  width: calc($width / 4) !important;
  font-weight: 700;
  color:#FFFFFF;
  text-align: center;
  align-items: center;
  display: grid !important;
  margin: 0 !important;
  padding: 0 1rem !important;
}

.ant-tabs-tab-active {
  background-color: white !important;
  transition: 500ms ease-in-out;
  transform: 3s linear;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.ant-tabs-nav-wrap::before {
  background: white !important;
}
.ant-tabs-content-holder {
  background: white !important;
  padding: 2rem 1.5rem;
}

.ant-tabs-ink-bar-animated {
  background-color: white !important;
  width: 0px !important;
}

.ant-tabs-nav-list {
  justify-content: flex-start !important;
  width: 100%;
  height: 55px;
}

.ant-tabs-nav {
  margin: 0 !important;
  &::before {
    border: none !important;
  }
}
